/* ==========================
   GOOGLE FONT
========================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* ==========================
   RESET
========================== */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ==========================
   ROOT
========================== */

:root{

    --primary:#14b8a6;
    --primary-dark:#0f766e;

    --secondary:#2563eb;

    --dark:#0f172a;

    --text:#475569;

    --light:#f8fafc;

    --white:#ffffff;

    --shadow:0 10px 30px rgba(0,0,0,.08);

    --radius:18px;

}

/* ==========================
   GLOBAL
========================== */

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Poppins",sans-serif;
    background:var(--white);
    color:var(--dark);
    overflow-x:hidden;
    min-width:320px;
}

img{
    max-width:100%;
    display:block;
}

button,
input,
textarea,
select{
    font:inherit;
}

button{
    cursor:pointer;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

section{
    width:100%;
}

.container{
    width:min(92%,1400px);
    margin:auto;
}

/* ==========================
   SCROLLBAR
========================== */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background:var(--primary);
    border-radius:20px;
}

::-webkit-scrollbar-track{
    background:#f1f5f9;
}